@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Permanent Marker", cursive;
  --color-theme-1: #5588a3;
  --color-theme-2: #145374;
  --color-theme-3: #00334e;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: var(--main-font);
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 6fr;
}

.left-container {
  background-image: url(./assets/thomas-tucker-QsiuD0w95h0-unsplash.jpg);
  background-size: auto 900px;
  background-position: center;
}

.logo-banner {
  position: relative;
  top: 15%;
  width: 100%;
  height: auto;
  background-color: black;
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  height: 84px;
  padding-right: 16px;
}

.logo-name {
  font-family: var(--logo-font);
  font-size: 2.5rem;
  color: white;
}

#unsplash-attribution {
  text-align: center;
  position: relative;
  top: 85%;
  color: white;
}

.attribution-link:link {
  color: white;
}

.attribution-link:visited {
  color: white;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.top-section {
  background-color: #f8f9fa;
  width: 100%;
  height: 30%;
  padding: 3%;
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.top-section div {
  margin: 1rem 0;
}

.mid-section {
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 40%;
  padding: 3%;
  box-shadow: 5px 5px 5px var(--color-theme-1);
}

#sign-up-form {
  width: max(440px, 80%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  padding: 2% 0;
}

form p {
  margin-bottom: 5%;
}

form label {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

.input-box {
  width: 100%;
  font-size: 1.2rem;
  border: 1px solid var(--color-theme-1);
  border-radius: 2px;
}

.input-box:focus {
  outline: 2px solid var(--color-theme-2);
  box-shadow: 0 0 0 2px;
}

.bottom-section {
  background-color: #f8f9fa;
  width: 100%;
  height: 30%;
  padding: 3%;
  display: flex;
  flex-direction: column;
}

.create-account-button {
  width: 220px;
  background-color: var(--color-theme-3);
  color: white;
  padding: 16px 32px;
  border: 3px solid var(--color-theme-1);
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 2%;
}

.create-account-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.login-link:link,
.login-link:visited {
  color: var(--color-theme-3);
  text-decoration: none;
  font-weight: 700;
}
